<tbody>
{section name=d loop=$data}

{$row=$data[d]}
<tr>
<!-- <td class="center ">{$row.stt}</td> -->
<td style="text-align: center;"><a href="{$thisdomain}/{$row.sim2}.html" title="{$row.sim1}"><strong class="font-15 sim">{$row.sim1}</strong></a></td>
<td class="font-13 sim-price" style="padding-right: 40px;">{($row.giaban*1000000)|number_format}</td>
<!-- <td class="text-center">{$row.tong}</td> -->
<td  class=" text-center"><span class="network n{$row.mang}"></span></td>

<td class=" text-center"><a href="{$thisdomain}/{$row.sim2}.html" class="btn"><img src="/data/images/image/datmua1.png" alt=""></a></td>
<!-- <td class="text-center"><a data-toggle="tooltip" title="Thêm {$row.sim1} vào giỏ hàng" href="javascript://" class="addcart" data-sim="{$row.sim2}" data-gia="{$row.giaban}"><i class="glyphicon glyphicon-shopping-cart"></i></a></td> -->

</tr>

{/section}
</tbody>