<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Tin tức sim số đẹp</h2>
  </div>
  <div class="panel-body">
    {php}
  
      $box = new querycache();
  
      echo $box->tintuclink(24);
    {/php}
  </div>
</div>



<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Tin khuyến mãi</h2>
  </div>
  <div class="panel-body">
    
    {php}
      
      $box = new querycache();
  
      echo $box->tintuclink(23);
    {/php}
    
  </div>
</div>



<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Tin Tức</h2>
  </div>
  <div class="panel-body">
  
  {php}
  
  $box = new querycache();
  
  echo $box->tintuclink(9);
  {/php}
  </div>
</div>